<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel="stylesheet" href="/stylesheets/random.css">
  </head>
  <body>
    <div id='random-beer-card'>
      <img src='{{beers.image_url}}' alt='random beer image' />
      <div class='info-beers'>
        <h1> {{beers.name}}</h1>
        <h2> {{beers.tagline}}</h2>
        <p>{{beers.description}}</p>
        <p>Brewing tips: {{beers.brewers_tips}}</p>
      </div>
    </div>

  </body>
</html>